@font-face {
  font-family: 'babilonia-icon';
  src:  url('fonts/babilonia-icon.eot?u5jo3');
  src:  url('fonts/babilonia-icon.eot?u5jo3#iefix') format('embedded-opentype'),
    url('fonts/babilonia-icon.ttf?u5jo3') format('truetype'),
    url('fonts/babilonia-icon.woff?u5jo3') format('woff'),
    url('fonts/babilonia-icon.svg?u5jo3#babilonia-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="babilonia-"], [class*=" babilonia-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'babilonia-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.babilonia-exclamation-solid:before {
  content: "\e9ab";
}
.babilonia-circle-exclamation-solid:before {
  content: "\e9ac";
}
.babilonia-circle-info:before {
  content: "\e9a9";
}
.babilonia-visit:before {
  content: "\e9aa";
}
.babilonia-x:before {
  content: "\e9a7";
}
.babilonia-question:before {
  content: "\e9a8";
}
.babilonia-spin:before {
  content: "\e99c";
}
.babilonia-hospital2:before {
  content: "\e99e";
}
.babilonia-market:before {
  content: "\e99f";
}
.babilonia-store2:before {
  content: "\e9a0";
}
.babilonia-train2:before {
  content: "\e9a1";
}
.babilonia-park:before {
  content: "\e9a2";
}
.babilonia-food:before {
  content: "\e9a3";
}
.babilonia-discount:before {
  content: "\e9a4";
}
.babilonia-gift2:before {
  content: "\e9a5";
}
.babilonia-offert:before {
  content: "\e9a6";
}
.babilonia-upload-done:before {
  content: "\e99d";
}
.babilonia-google:before {
  content: "\e92a";
}
.babilonia-facebook:before {
  content: "\e92b";
}
.babilonia-parking-visitors:before {
  content: "\e957";
}
.babilonia-parking:before {
  content: "\e958";
}
.babilonia-built-area:before {
  content: "\e959";
}
.babilonia-square:before {
  content: "\e95a";
}
.babilonia-room:before {
  content: "\e95b";
}
.babilonia-apartment1:before {
  content: "\e95c";
}
.babilonia-arrow-right:before {
  content: "\e95d";
}
.babilonia-arrow-simple-left:before {
  content: "\e95e";
}
.babilonia-arrow-simple-right:before {
  content: "\e95f";
}
.babilonia-arrow-top-square:before {
  content: "\e960";
}
.babilonia-bath1:before {
  content: "\e961";
}
.babilonia-bed1:before {
  content: "\e962";
}
.babilonia-bell1:before {
  content: "\e963";
}
.babilonia-calendar:before {
  content: "\e964";
}
.babilonia-camera:before {
  content: "\e965";
}
.babilonia-check11:before {
  content: "\e966";
}
.babilonia-checkbox-checked:before {
  content: "\e967";
}
.babilonia-checkbox-unchecked:before {
  content: "\e968";
}
.babilonia-checked-circle:before {
  content: "\e969";
}
.babilonia-circle-cross:before {
  content: "\e96a";
}
.babilonia-clock:before {
  content: "\e96b";
}
.babilonia-commercial:before {
  content: "\e96c";
}
.babilonia-cross-circle:before {
  content: "\e96d";
}
.babilonia-edit:before {
  content: "\e96e";
}
.babilonia-elevator:before {
  content: "\e96f";
}
.babilonia-exclaim-triangle:before {
  content: "\e970";
}
.babilonia-eye:before {
  content: "\e971";
}
.babilonia-furniture:before {
  content: "\e972";
}
.babilonia-garden:before {
  content: "\e973";
}
.babilonia-cross:before {
  content: "\e974";
}
.babilonia-gps:before {
  content: "\e975";
}
.babilonia-grear:before {
  content: "\e976";
}
.babilonia-grill:before {
  content: "\e977";
}
.babilonia-gym:before {
  content: "\e978";
}
.babilonia-heart1:before {
  content: "\e979";
}
.babilonia-heart-filled:before {
  content: "\e97a";
}
.babilonia-hottub:before {
  content: "\e97b";
}
.babilonia-house1:before {
  content: "\e97c";
}
.babilonia-land:before {
  content: "\e97d";
}
.babilonia-location:before {
  content: "\e97e";
}
.babilonia-map:before {
  content: "\e97f";
}
.babilonia-minus:before {
  content: "\e980";
}
.babilonia-office:before {
  content: "\e981";
}
.babilonia-paw:before {
  content: "\e982";
}
.babilonia-pencil:before {
  content: "\e983";
}
.babilonia-phone:before {
  content: "\e984";
}
.babilonia-pin:before {
  content: "\e985";
}
.babilonia-plus:before {
  content: "\e986";
}
.babilonia-pool:before {
  content: "\e987";
}
.babilonia-radio-checked:before {
  content: "\e988";
}
.babilonia-radio-unchecked:before {
  content: "\e989";
}
.babilonia-radius:before {
  content: "\e98a";
}
.babilonia-search1:before {
  content: "\e98b";
}
.babilonia-select-closed:before {
  content: "\e98c";
}
.babilonia-select-open:before {
  content: "\e98d";
}
.babilonia-share:before {
  content: "\e98e";
}
.babilonia-terrace:before {
  content: "\e98f";
}
.babilonia-upload:before {
  content: "\e990";
}
.babilonia-user:before {
  content: "\e991";
}
.babilonia-userpick:before {
  content: "\e992";
}
.babilonia-dollar-circle:before {
  content: "\e993";
}
.babilonia-all-checked:before {
  content: "\e994";
}
.babilonia-warehouse:before {
  content: "\e995";
}
.babilonia-listing:before {
  content: "\e996";
}
.babilonia-filter:before {
  content: "\e997";
}
.babilonia-price:before {
  content: "\e998";
}
.babilonia-property:before {
  content: "\e999";
}
.babilonia-square-meter:before {
  content: "\e99a";
}
.babilonia-area1:before {
  content: "\e99b";
}
.babilonia-discount-tag:before {
  content: "\e91e";
}
.babilonia-eye-open:before {
  content: "\e93b";
}
.babilonia-eye-slash:before {
  content: "\e956";
}
.babilonia-plus-more:before {
  content: "\e950";
}
.babilonia-link:before {
  content: "\e951";
}
.babilonia-file-pdf:before {
  content: "\e952";
}
.babilonia-door:before {
  content: "\e953";
}
.babilonia-forum:before {
  content: "\e954";
}
.babilonia-transaction:before {
  content: "\e955";
}
.babilonia-dot:before {
  content: "\e94f";
}
.babilonia-close:before {
  content: "\e94e";
}
.babilonia-comment:before {
  content: "\e94d";
}
.babilonia-ordering:before {
  content: "\e94c";
}
.babilonia-angle-left:before {
  content: "\e92e";
}
.babilonia-angle-right:before {
  content: "\e92f";
}
.babilonia-area-solid:before {
  content: "\e930";
}
.babilonia-basket-shopping:before {
  content: "\e931";
}
.babilonia-bell:before {
  content: "\e932";
}
.babilonia-building-wheat:before {
  content: "\e933";
}
.babilonia-car:before {
  content: "\e934";
}
.babilonia-car-with-a-tree:before {
  content: "\e935";
}
.babilonia-checked:before {
  content: "\e936";
}
.babilonia-circle-dot:before {
  content: "\e937";
}
.babilonia-covered-area:before {
  content: "\e938";
}
.babilonia-exclamation-circle:before {
  content: "\e939";
}
.babilonia-exclamation-mark:before {
  content: "\e93a";
}
.babilonia-gift:before {
  content: "\e93c";
}
.babilonia-grid:before {
  content: "\e93d";
}
.babilonia-hand-holding-dollar:before {
  content: "\e93e";
}
.babilonia-hospital:before {
  content: "\e93f";
}
.babilonia-location-dot:before {
  content: "\e940";
}
.babilonia-price-tag:before {
  content: "\e941";
}
.babilonia-restaurant:before {
  content: "\e942";
}
.babilonia-right-arrow:before {
  content: "\e943";
}
.babilonia-search:before {
  content: "\e944";
}
.babilonia-star-regular:before {
  content: "\e945";
}
.babilonia-star-solid:before {
  content: "\e946";
}
.babilonia-store:before {
  content: "\e947";
}
.babilonia-tags:before {
  content: "\e948";
}
.babilonia-time:before {
  content: "\e949";
}
.babilonia-train:before {
  content: "\e94a";
}
.babilonia-tree-city:before {
  content: "\e94b";
}
.babilonia-bars-horizontal:before {
  content: "\e92d";
}
.babilonia-person:before {
  content: "\e92c";
}
.babilonia-list:before {
  content: "\e929";
}
.babilonia-apartment:before {
  content: "\e928";
}
.babilonia-mail-open-outline:before {
  content: "\e925";
}
.babilonia-refresh:before {
  content: "\e923";
}
.babilonia-heart-outline:before {
  content: "\e924";
}
.babilonia-whatsapp-outline:before {
  content: "\e926";
}
.babilonia-phone-outline:before {
  content: "\e927";
}
.babilonia-trash:before {
  content: "\e91b";
}
.babilonia-phone-2:before {
  content: "\e91c";
}
.babilonia-heart:before {
  content: "\e91d";
}
.babilonia-area:before {
  content: "\e91f";
}
.babilonia-bath:before {
  content: "\e920";
}
.babilonia-bed:before {
  content: "\e921";
}
.babilonia-home-2:before {
  content: "\e922";
}
.babilonia-home:before {
  content: "\e916";
}
.babilonia-people:before {
  content: "\e917";
}
.babilonia-collections:before {
  content: "\e918";
}
.babilonia-stadistics:before {
  content: "\e919";
}
.babilonia-resume:before {
  content: "\e91a";
}
.babilonia-medal-plus:before {
  content: "\e914";
}
.babilonia-medal-premium:before {
  content: "\e915";
}
.babilonia-angle-up:before {
  content: "\e912";
}
.babilonia-angle-down:before {
  content: "\e913";
}
.babilonia-whatsapp:before {
  content: "\e90f";
}
.babilonia-mail:before {
  content: "\e910";
}
.babilonia-phone-fill:before {
  content: "\e911";
}
.babilonia-current-position:before {
  content: "\e90e";
}
.babilonia-check1:before {
  content: "\e909";
}
.babilonia-star-outline:before {
  content: "\e90a";
}
.babilonia-star:before {
  content: "\e90b";
}
.babilonia-hand-keys:before {
  content: "\e90c";
}
.babilonia-house:before {
  content: "\e90d";
}
.babilonia-unpublish-icon:before {
  content: "\e903";
}
.babilonia-chart-up-icon:before {
  content: "\e904";
}
.babilonia-person-icon:before {
  content: "\e905";
}
.babilonia-camera-line-icon:before {
  content: "\e906";
}
.babilonia-edit-icon:before {
  content: "\e907";
}
.babilonia-share-icon:before {
  content: "\e908";
}
.babilonia-360-icon:before {
  content: "\e900";
}
.babilonia-video-icon:before {
  content: "\e901";
}
.babilonia-camera-icon:before {
  content: "\e902";
}
